body{   
       
    overflow-x: hidden;
}
.logo{
    margin-left: 45%;
}

.container{
     background-size: auto;
     margin: 0 auto;
}
.launcher h6{
     font-family: 'Bai Jamjuree';font-size: 12px;
     color: #fff;
     text-align: center;
     font-weight: bold; 
}
.launcher img{
    align-items: center;
}
.launcher{     
    margin: 0 auto;
    background-image: url(img1.jpg);
    background-size: cover;
}
.details{   
    display:    none;
}
.ddetails{   
    display:    none;
}
.dddetails{   
    display:    none;
}
.overlay{
    display: none;
    position: absolute;
    border-color: white;
    border: solid;
    padding-top: 0;
    border-width: small;
    width: 50%;
    top: 40px;
    left: 40px;
    text-align: center;
    font-size: 20px; 
}
 .services{
     background-image: url(img2.jpg);
     color: #fff;
         font-family: 'Bai Jamjuree';font-size: 25px;
 }
 h2{
     text-align: center;
 }
.imgDetails img{
align-items: center;
align-content: center;
cursor: pointer;
}

imghover:hover{
    opacity: 0.3;
}

.header{
    cursor: pointer;
}


p{
      font-family: 'Bai Jamjuree';font-size: 12px;
      text-align: center;
      width: 80%;
      margin: 0 auto;
}
h3{
      font-family: 'Bai Jamjuree';font-size: 22px;
      text-align: center;
      color: #fff;
      font-weight: bold;
}
.port_align{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
.port_images img{
    width:  100%;
}
.card{
    margin:5px;
}
.contacts{
    background-image: url(img6.jpg);
}
.textarea{
    width: 100%;
    opacity: 0.1;
    color: #fff;
    padding: 12px 20px;
    text-align: center;
}
#name{
    width: 40%;

}
#email{
    width: 40%;
}
#message{
    width: 80%;
}
.footer{
  
    padding-left: 30%;
}
.footer img{
    align-content: center;
}

