body{   
       
    overflow-x: hidden;
}

.container{

      background-size: auto;
      
    margin: 0 auto;
}
.launcher{     
    margin: 0 auto;
    background-image: url(img1.jpg);
}
.details{   
    display:    none;
}
   


.imgDetails img{
align-items: center;
align-content: center;
cursor: pointer;
}

.header{
    cursor: pointer;
}

p{
      font-family: 'Bai Jamjuree';font-size: 12px;
      text-align: center;
      width: 80%;
      margin: 0 auto;
}
h3{
      font-family: 'Bai Jamjuree';font-size: 22px;
      text-align: center;
}
.port_align{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
.port_images img{
    width:  100%;
}
.card{
    margin:5px;
}
.contacts{
    background-image: url(img6.jpg);
}
.textarea{
    width: 100%;
    
    padding: 12px 20px;
    text-align: center;
}
#name{
    width: 40%;

}
#email{
    width: 40%;
}
#message{
    width: 80%;
}
.footer{
  
    padding-left: 30%;
}
.footer img{
    align-content: center;
}

